<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.url">jdbc:mysql://localhost/hibernate_struts_spring_bank?useUnicode=true&amp;characterEncoding=UTF-8</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">19960909li</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.show_sql">true</property>
		
		<property name="hibernate.hbm2ddl.auto">update</property>
		
		<mapping resource="com/cx/bank/model/User.hbm.xml"/>
		<mapping resource="com/cx/bank/model/Record.hbm.xml"/>
		<mapping resource="com/cx/bank/model/Admin.hbm.xml"/>
		<mapping resource="com/cx/bank/model/AdminRecord.hbm.xml"/>
		<mapping resource="com/cx/bank/model/UserLoginRecord.hbm.xml"/>
		<mapping resource="com/cx/bank/model/AdminLoginRecord.hbm.xml"/>
	</session-factory>
</hibernate-configuration>